<h1>Listing diary_entries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diary_entries.each do |diary_entry| %>
  <tr>
    <td><%= diary_entry.name %></td>
    <td><%= diary_entry.description %></td>
    <td><%= link_to 'Show', diary_entry %></td>
    <td><%= link_to 'Edit', edit_diary_entry_path(diary_entry) %></td>
    <td><%= link_to 'Destroy', diary_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diary entry', new_diary_entry_path %>
